/* Header.css */

/* Hide the dropdown symbol */
.dropdown-toggle::after {
    display: none !important;
  }
  
  /* Style the navigation links */
  .nav-link, .nav-dropdown-item {
    text-decoration: none; /* Remove default underline */
    position: relative; /* Position relative for absolute positioning of underline */
    color: #000; /* Default color for navigation links */
  }
  
  /* Add blue underline and shadowed color when hovering over the navigation links */
  .nav-link:hover::after, .nav-dropdown-item:hover::after {
    content: ''; /* Add underline */
    position: absolute; /* Position absolutely relative to the parent */
    bottom: -2px; /* Adjust as needed */
    left: 0; /* Stretch the underline to cover the entire width */
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: #007bff; /* Blue color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow */
  }
  