/* Header.css */
.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  border-top: 3px solid #007bff; /* Blue line color */
}

.dropdown-item:hover {
  background-color: rgba(0, 123, 255, 0.2); /* Light blue color on hover */
}
.search-box {
  display: flex;
  align-items: center;
  width: 700px;
}

.search-input {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon-placeholder {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none; /* Prevents icon from interfering with input */
}

.search-input input[type="text"] {
  flex: 1;
  padding: 8px 17px 8px 36px; /* Adjust padding to accommodate the icon */
  font-size: 16px;
  border: none; /* Remove the border */
  outline: none; /* Remove the outline */
}

.search-input button {
  margin-left: 0px;
}
