


.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}


.login-container h1 {
    color: #283250;
    font-family: "Playfair Display", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.social-login {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;

}

.login-with-google,
.login-with-facebook {
    display: flex;
    align-items: center;
    padding: 14px 16px;
    margin: 8px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    border: 1px solid rgba(40, 50, 80, .38);
}

.facebooklogo {
    width: 40px;
}

.googlelogo {
    width: 20px;
}


.login-with-google img,
.login-with-facebook img {
    margin-right: 20px;
}


/* here for form  */


.middle {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(40, 50, 80, .15);
    line-height: .1em;
    margin: 20px 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: rgba(40, 50, 80, .54);
}

.middle span {
    background-color: #fff;
    padding: 0 16px;
}


.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="email"],
.form-container input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 2rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: rgba(40, 50, 80, 0.74);
}

.rememberme {
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(40, 50, 80, .74);
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.form-container a {
    color: #ccc;
    text-decoration: none;
    margin-bottom: 10px;
}

.form-container a:hover {
    color: #000;
}

.form-container button[type="submit"] {
    background-color: rgba(40, 50, 80, .38);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}



.form-container p {
    text-align: center;
}

.form-container a[href="#"] {
    color: inherit;
    /* Inherit the text color from the parent element */
}


.signup {
    color: blue;

}