/* FirstPageStyles.css */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .table-container {
    flex: 1;
    padding: 5.5em;
    display: flex;
    justify-content: center; /* Horizontally center the content */
  }
  
  
  .custom-table {
    width: 30%;
    height: 30%;
  }
  /* FirstPageStyles.css */
  
  .dropdown-container {
    display: flex;
    align-items: center;
  }
  
  .dropdown-toggle {
    border: 1px solid black;
    background-color: white;
    width: 50px; /* Adjust width */
    height: 50px; /* Adjust height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-left: 10px; /* Adjust margin as needed */
  }
  
  /* FirstPageStyles.css */
  
  .dropdown-menu {
    position: absolute;
    top: calc(100% - 80px); /* Adjust the value to move the dropdown menu up */
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 2em;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: none;
    border-radius: 0.25rem;
    transition: opacity 0.15s;
  }
  
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  /* Add this CSS to your existing styles or FirstPageStyles.css file */
  /* FirstPageStyles.css */

/* Add this CSS to your existing styles or FirstPageStyles.css file */
/* FirstPageStyles.css */

/* Add this CSS to your existing styles or FirstPageStyles.css file */
.tooltip-container {
  position: relative; /* Ensure the tooltip text is positioned relative to the container */
  display: inline-block;
}

.tooltip-text {
  visibility: show;
  width: 200px; /* Adjust the width as needed */
  background-color: pink;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute; /* Position the tooltip absolutely within the container */
  z-index: 2; /* Increase the z-index to ensure the tooltip content appears above other elements */
  top: 100%; /* Position the tooltip below the container */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Adjust the positioning of the E-Sign tooltip */
.tooltip-container-esign {
  position: relative;
  display: inline-block;
}

.tooltip-text-esign {
  visibility: show; /* Initially hide the tooltip */
  width: 200px;
  background-color: pink;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
  top: calc(100% + 5px); /* Position the tooltip below the container */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the E-Sign tooltip when active */
.tooltip-text-esign.active {
  visibility: visible;
  opacity: 1;
}
.btn-primary,
.btn-secondary {
  color: inherit; /* Set the color to inherit to retain default color */
}
