<!Doctype html>
<html>
    <head>
    <style>
    p{
/*     font-weight:600; */
    line-height:1.3;
        font-size: 1.1em; /* Adjust size as needed */
/*     font-size:calc(1.666665*11.00px); */
    font-family: "Helvetica", sans-serif; /* Example font */    padding:70px;

    }
    </style>
      </head>
      <body>
        <p><b>


        </b></p><!Doctype html>
<html>
    <head>
    <style>
    p{
/*     font-weight:600; */
    line-height:1.3;
        font-size: 1.1em; /* Adjust size as needed */
/*     font-size:calc(1.666665*11.00px); */
    font-family: "Helvetica", sans-serif; /* Example font */    padding:70px;

    }
    </style>
      </head>
      <body>
    <p>
{{client_first_name}} {{client_middle_name}} {{client_last_name}}
<br />
{{client_address}}
<br />
{{client_city}}, {{client_state}} {{client_postal_code}}
<br /><br />
{{curr_date}}
<br /><br />
According to 15 U.S.C. 1681i, Paragraph (5), if a consumer disputes any information and it is
found to be inaccurate, incomplete, or unverifiable, the consumer reporting agency must
promptly delete the item.
<br /><br /><br />
The following personal information is reporting incorrectly on my credit report:
<br /><br />
Name: The correct spelling of my name is {{client_first_name}} {{client_middle_name}}
{{client_last_name}}
<br /><br />
Current Address:
<br />
My correct current address is:
<br />
{{client_address}}
<br />
{{client_city}}, {{client_state}} {{client_postal_code}}
<br /><br /><br />
Previous Address:
<br />
The following previous addresses are wrong:
<br />
{{personal_Information_explanation}}
<br /><br />
Employment:
<br /><br />
The following previous employers are wrong:
<br /><br />
{{employer_Information_explanation}}
<br /><br /><br />
Please update my credit file to reflect the proper spelling and data as I have indicated above.
Please also remove the old inaccurate addresses. I do not want to be mistaken for someone
else because of these errors that you are reporting.
Thank you,
<br /><br />
{{client_sign}}
<br />
{{client_first_name}} {{client_last_name}}
<br /><br />
SSN: {{ss_number}}DOB: {{bdate}}

    </p>
    </body>
    </html>
