.email_section {
    flex: 1 1 auto;
    flex-direction: column;
    display: flex;
}

.label{
    display: block;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #5a5f73;
font-family: "Poppins",sans-serif;
font-style: normal;
}

.input{
    margin-top: 8px;
    background: #fcfcff;
border: 1px solid rgba(41,41,41,.24);
border-radius: 4px;
height: 42px;
line-height: 42px;
font-weight: 500;
font-size: 16px;
color: #272c42;
padding-left: 9px;
box-sizing: border-box;
}